{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  rules: {
    "angular/di": [2, "array"],
    "angular/controller-name": [2,"/[A-Z].*Ctrl/"],
    "angular/log": 0,
    "no-console": 1
  }
}
